body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Motter Tektura", sans-serif;
    background-color: #ffc62a;
  }

  h1 {
      font-size: 3em;
      font-weight:bolder;
      margin-bottom: 0;
      padding-bottom: 0;
  }
  h3 {
      margin-top: 20;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight:lighter;
  }


  .CPU-score span {
      justify-content: center;
  }

  #loseOnTop { 
    
    display:none;
    opacity:0.8;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    
 }

 #loseOnTop img{
     display:flex;
     justify-content: center;
     align-items: center;

 }

 #loseOnTop button {
     position:absolute;
 }

 #winOnTop {
    display:none;
    opacity:0.8;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
 }

 #winOnTop img {
    display:flex;
    justify-content: center;
    align-items: center;
} 

#cpu {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight:lighter;
}